.BpMainWrapper{
    width: 100%;
    height: 950px;
    position: relative;
    bottom:-20px;
    top: 20px;
    background-color: blueviolet;
}
.BpMainWrapper>img{
    width: 200px;
    height: 200px;
}