.body{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.container{
    display: grid;
    grid-template-columns: auto auto 360px;
    grid-template-areas: "head head head"
                          "content content Aside"
                          "footer footer footer";
    grid-template-rows: 15px;
}
.NavigationBar{
    grid-area: head;
}
.Aside{
    grid-area: Aside;
}
.MainContent{
    grid-area: content;
}
.Footer{
    grid-area: footer;
}